<<<<<<< HEAD
.map {
    iframe {
        height: 100%;
        width: 100%;
        border: 0;
    }
=======
.map {
    iframe {
        height: 100%;
        width: 100%;
        border: 0;
    }
>>>>>>> f7b4604e8541960c42b7ad5e1aafa0170f3dafd1
}